h1 { 
    color: rgb(0, 0, 0);
    padding: 0px 40px 0px 25px;
}

h2 { 
    color: rgb(0, 74, 81);
    padding: 0px 40px 0px 25px;
}

p { 
    font-size: 110%; color: rgb(0, 0, 0);
    padding: 0px 0px 0px 30px;
}

a { 
    font-size: 100%;
    padding: 30px 30px;
}